body{
    background: rgb(56, 102, 102);
    font: normal 15pt Arial;
}
#game{
    background-image: url('img/background.png');
    padding: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
}
#nome {  
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px; 
}

#personagem{
    width: 63px;
    height: 63px;
    background-image: url('img/dino.gif');
    position: relative;
    top: 148px;
     
}
.animar{
    animation: personagem 500ms infinite;
}

@keyframes personagem {
    0%{top: 165px;}
    30%{top: 100px;}
    70%{top: 100px;} 
    100%{top: 150px;}  
     
}

#quadrado{
    width: 60px;
    height: 60px;
    background-image: url('img/cactus.png');
    position: relative;
    top: 90px;
    left: 495px;
    animation: quadrado 1s infinite linear;
}

/* Animação de movimento do cacto */
@keyframes quadrado {
    0%{left: 440px;} /* Posição de inicio do cacto*/
    100%{left: -17px;}   /* Posição de sair da tela*/
}