body{
    background: rgb(56, 102, 102);
    font: normal 15pt Arial;
}
#game{
    background-image: url('img/background.png');
    padding: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
}
#nome {  
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px; 
}

#dino{
    width: 63px;
    height: 63px;
    background-image: url('img/dino.gif');
    position: relative;
    top: 148px;
     
}
.animar{
    animation: dino 500ms infinite;
}

@keyframes dino {
    0%{top: 150px;} /* Ponto Inicial */
    30%{top: 60px;}
    70%{top: 60px;} 
    100%{top: 150px;}  /*Finalizar animação */
     
}

#cacto{
    width: 60px;
    height: 60px;
    background-image: url('img/cactus.png');
    position: relative;
    top: 90px;
    left: 495px;
    animation: cacto 1s infinite linear; /* movimentar cacto*/
}

/* Animação de movimento do cacto */
@keyframes cacto {
    0%{left: 440px;} /* Posição de inicio do cacto*/
    100%{left: -17px;}   /* Posição de sair da tela*/
}
#info {
    color: white;
    text-align: center;
}
#res {
    color: red;
    text-align: center;
}